.servicesContent {
  display: flex;
  align-items: center;
  margin-bottom: 8rem;
}

.imageColumn {
  flex-basis: 35%;
}

.textColumn {
  padding-left: 5rem;
  flex-basis: 65%;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}
