.servicesContent {
  margin-bottom: 8rem;
}

.imageColumn {
  text-align: center;
  margin-bottom: 2rem;
}

.imageColumn img {
  max-width: 80%;
  display: inline;
  border-radius: 1rem;
  box-shadow: 0 0 6rem 1.2rem rgba(var(--color-dark--2), 0.4);
}

.textColumn {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
}

@media only screen and (min-width: 768px) {
  .servicesContent {
    display: flex;
    align-items: center;
  }

  .imageColumn {
    flex-basis: 45%;
    margin-bottom: 0;
  }

  .imageColumn img {
    max-width: 100%;
  }

  .textColumn {
    font-size: 2rem;
    padding-left: 5rem;
    flex-basis: 55%;
    text-align: left;
  }
}
