.homeAboutContainer {
  background: linear-gradient(
      0deg,
      rgba(var(--color-dark--1), 0.35),
      rgba(var(--color-dark--1), 0.35)
    ),
    url('/src/assets/images/bg-1.jpg'), no-repeat center center/cover;
  background-attachment: fixed;

  padding: 15rem 0 8rem 0;
  text-align: center;

  @supports (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
  }
}
