.homeAboutContainer {
  background: linear-gradient(
      0deg,
      rgba(var(--color-dark--1), 0.65),
      rgba(var(--color-dark--1), 0.65)
    ),
    url('/src/assets/images/top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  padding-bottom: 8rem;
  text-align: center;

  @supports (clip-path: polygon(0 0, 0 0, 0 0, 0 0)) {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0 100%);
  }
}

@media only screen and (min-width: 1024px) {
  .homeAboutContainer {
    background-attachment: fixed;
  }
}
