.hamburger {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 9;
  cursor: pointer;
}

.hamburger img {
  width: 4.8rem;
  height: 4.8rem;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

@media only screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
