.aboutContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutContent * {
  border-radius: 1rem;
}

.textColumn {
  flex-basis: 60%;
  background-color: var(--color-light--2);
  padding: 6rem;
  min-height: 25rem;
  text-align: left;
}

.imageColumn {
  flex-basis: calc(40% + 4rem);
  margin-left: -4rem;
}

.imageColumn img {
  width: 100%;
}
