.navbar {
  position: fixed;
  top: 3rem;
  width: 100%;
  z-index: 10;
  padding: 0 1.5rem;
}

.navbar .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0 0 2rem 0 rgba(38, 38, 38, 0.75);
  border-radius: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  transition: all, 0.3s;
}

.navbar .logo {
  position: relative;
  width: 17rem;
}

.navbar .logo img {
  position: absolute;
  left: 50%;
  top: -2rem;
  transform: translateX(-50%);
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 7rem;
}

.navbar a {
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--color-light--2);
}

.scrolledDown .container {
  background-color: rgba(38, 38, 38, 0.95);
}
