@import url('https://fonts.googleapis.com/css2?family=Neuton:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');

:root {
  --font-primary: 'Work Sans', sans-serif;
  --font-secondary: 'Neuton', serif;

  --max-width: 120rem;

  --color-red--1: 129, 4, 4;
  --color-red--2: 185, 34, 34;
  --color-red--3: 164, 77, 76;
  --color-dark--1: 101, 104, 107;
  --color-dark--2: 38, 38, 38;
  --color-light--1: 255, 255, 255;
  --color-light--2: 245, 245, 245;
  --color-light--3: 219, 219, 219;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
textarea:focus,
input:focus,
button:focus,
a:focus {
  outline: none;
}
a {
  text-decoration: none;
}
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
html {
  font-family: var(--font-primary);
  font-size: 62.5%;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  position: relative;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: rgb(var(--color-light--2));
  color: rgb(var(--color-dark--2));
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

.py-8 {
  padding: 8rem;
}

.color-light {
  color: rgb(var(--color-light--2));
}

.color-dark {
  color: rgb(var(--color-dark--2));
}

.color-red {
  color: rgb(var(--color-red--1));
}

.container {
  max-width: var(--max-width);
  padding: 0 1.5rem;
  margin: 0 auto;
}

.heading {
  font-family: var(--font-secondary);
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
}

.heading-primary {
  font-size: 8rem;
  font-weight: 800;
  padding-bottom: 5rem;
}

.heading-secondary {
  font-size: 4.6rem;
  padding-bottom: 8rem;
}

.heading-tertiary {
  font-size: 3.2rem;
  padding-bottom: 3rem;
}
